*{
    margin: 0;
    padding: 0;;
}




/* @media (max-width: 800px ) {
    .conteiner{
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(5);
    }
}

@media (max-width: 600px ) {
    .card{
        margin-inline: 0;
    }

    .conteiner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);
    }
} */

